<div class="container">
	<div class="jumbotron">
		<h1 class="text-center">Pick a social media!</h1>
	</div>
	<div class="row marketing">
		<div class="col-lg-6 text-center"><a role="button" class="btn btn-default btn-lg" href="/auth/instagram">Login with Instagram</a></div>
		<div class="col-lg-6 text-center"><a role="button" class="btn btn-primary btn-lg" href="/auth/facebook">Login with Facebook</a></div>
	</div>
</div>


